@media (min-width:768px) {}

.title{
        font-size: 20px;
        font-family: 'Noto Sans KR', sans-serif;
        width: 600px;
        padding-right: 600px;
}

h1{
        letter-spacing: 5px;
       
}



h4{
    width: 600px;
    padding-right: 600px;
}


strong{
    width: 600px;
    margin-left: auto;
    margin-right: 100px;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }