* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    background-color: #F5F6F7;
}

.logo{
    margin-left: 120px;
    color: #03C75A;
    font-size: 30px;
}

.catainer{
    position: relative;
    width: 300px;
    height: 200px;   
}

.login-form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.input-regist{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.submit-btn {
    font-size: 18px;
    border: none;
    padding: 10px;
    width: 450px;
    height: 60px;
    background-color: #03C75A;
    margin-bottom: 80px;
    color: white;
}

.text-field{
    border: none;
    font-size: 14px;
    padding: 10px;
    border: none;
    width: 450px;
    height: 50px;
    margin-bottom: 10px;
}

input::placeholder {
    color:#ccc;
}

.footer{
    margin-left: 100px;
}

.serch-id, .serch-passwd, .regist {
    font-size: 14px;
    color: #828282;
}